
{% load static %}

{% load avatar_tags %}
{% include "header.html" %}

{% if request.user.is_authenticated %}
{% if request.user.is_teacher %}
{% include "teacher_header.html" %}


<div class="container-fluid pb-4" style="margin-top: -10px;">
  <div class="row my-3">
    <div class="col d-flex justify-content-end">
      <div class="align-self-center"><a class="btn btn-outline-info" role="button" href="{% url 'teacher_change_password' %}">Change password</a></div>
      <div class="align-self-center mx-3  text-danger">Change your avatar</div>
      <a href="{% url 'avatar_change' %}">{% avatar user 65 class="rounded-circle" id="user_avatar" %}
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-lg-end justify-content-md-end ">
      {% avatar user 65 class="rounded-circle" id="user_avatar" %}
    </div>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h3 text-info text-uppercase">{{ request.user.first_name }} {{request.user.last_name}}</h1>
          <p class=" text-small text-success" >Logged as a Teacher</p>
        </div>
        <div class="card mx-5 shadow-lg">
          <div class="card-body ">
            <div class="bg-light rounded-lg p-3 ">
              <h1 class="display-4 fw-700 f">Good to see you again &#128516; {{ request.user.first_name }}</h1>
                            <p class="lead text-darks ">Enter the attendance of the students here, based on the class they belong. You have also provision to edit the attendance of a whole class or student individually.</p>
                            <hr class="my-4 border-warning py-3">
                            
                            <a class="btn btn-outline-info btn-lg" role="button" href="{% url 't_clas_url' request.user.teacher.id %}"> View Attendance</a>
                        
            </div>
          </div>
        </div>
      
      </main> 
  </div>
</div>

{% else %}
<p>You're not allowed  in this page - <a href={% url 'login_url' %}>login</a>?</p>
{% endif %}
{% else %}
<p>You're already logged out. Would you like to <a href={% url login_url %}>login</a>?</p>
{% endif %}


{% include "footer.html" %}