
{% load static %}
{% load avatar_tags %}

{% include "header.html" %}
{% include "teacher_header.html" %}

<div class="container-fluid">
  

  <div class="row py-3">
    <div class="col d-flex justify-content-md-end justify-content-lg-end">
      {% avatar user 65 class="rounded-circle" id="user_avatar" %}
    </div>


<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class=" align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2 text-capitalize text-info ">{{ request.user.first_name }} {{ request.user.last_name }}</h1>
  </div>


  <div class="container-fluid">
    <div class="row g-5">

        <div class="col">
            <div class="card shadow-lg text-center">
                <div class="card-header bg-info fw-bold text-light h5 ">
                  Attendace Table
                </div>
                <div class="card-body">
                  {% if c.student_set.all %}

                  <form action="{% url 'confirm_url' assc.id %}" method="post">
                              {% csrf_token %}
                      <div class="card mb-3">
                             <div class="card-body">
                            <div class="table-responsive">
                              <table class="table table-hover">
                                <thead >
                                  <tr>
                                      <th>Student name</th>
                                      <th></th>
                                  </tr>
                                </thead>
                                  <tbody>
                                  {% for s in c.student_set.all %}
                                      <tr>
                                      <td class="text-capitalize">{{s.user.first_name}} {{s.user.last_name}}</td>
                                      <td>
                                          <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  
                                                  <label class="btn btn-sm btn-outline-info text-dark fw-bold mx-2">
                                                      <input type="radio" name="{{ s.USN }}"   value="present" checked> Present
                                                  </label>
                  
                                                  <label class="btn btn-sm btn-outline-warning text-dark fw-bold">
                                                      <input type="radio" name="{{ s.USN }}" value="absent"> Absent
                                                  </label>
                                          </div>
                                      </td>
                                      </tr>
                                  {% endfor %}
                                  </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                  
                  
                      <input class="btn btn-info text-dark fw-bold my-4" type="submit" value="Submit">
                    
                  </form>
                  
                  
                   {% else %}
                      <p>No students in Class</p>
                  {% endif %} 
                </div>
                
            </div>
          
        </div>

        
        
        
        
        
    </div>

</div> 
</main> 
</div>
</div>

{% include "footer.html" %}