{% extends 'logBase.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content%}

<div class="row">
    <div class="col-md-4 mx-4">
        <img src="{% static 'images/Group171.svg' %}" alt="" class="img-fluid ">
    </div>
    <div class="col-sm-6">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header bg-info"><p class=" text-white my-2 text-small"><span class="text-warning fw-bold text-center">Forgotten your password? &#128513;</span> <br/>  enter your email, and we'll send you instructions for setting up a new one.</p></div>
            <div class="card-body">
              <form method="POST" action="">
                    {% csrf_token %}
                    <div class="row mb-3 ">
                        {{form|crispy}}        
                    </div>
                        <div class="mt-4 text-center">
                            <input type="submit" class="btn btn-outline-warning text-dark" value="Update Password">
                        </div>
                </form> 

            </div>
            {{form.errors}}
         
        </div>
    </div>

</div>
                
                  
                       
{% endblock content%}